# Pre processing of the dataset

# Introduction 
In this notebook we are going to load in our dataset and do some pre processing of the data. We will do the following in this notebook:
- Feature engineering 
- Dividing the dataset into three different sizes. 
    - Full size: 100%
    - Medium size: 50%
    - Small size: 15%

Furthermore, we will experiment with balancing the data of our target value since our dataset is highly imbalanced. This will only be done with the small dataset size since it is only possible there.

## Libraries
---

In [1]:
import pandas as pd
import numpy as np

## Loading the data
---

In [2]:
df = pd.read_csv('data/insurance-customer-data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    381109 non-null  int64
 1   Gender                381109 non-null  object
 2   Age                   381109 non-null  int64
 3   Driving_License       381109 non-null  int64
 4   Region_Code           381109 non-null  float64
 5   Previously_Insured    381109 non-null  int64
 6   Vehicle_Age           381109 non-null  object
 7   Vehicle_Damage        381109 non-null  object
 8   Annual_Premium        381109 non-null  float64
 9   Policy_Sales_Channel  381109 non-null  float64
 10  Vintage               381109 non-null  int64
 11  Response              381109 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 34.9+ MB

In [4]:
df['Response'].value_counts()

0    334399
1     46710
Name: Response, dtype: int64

In [5]:
df.isna().any()

id                      False
Gender                  False
Age                     False
Driving_License         False
Region_Code             False
Previously_Insured      False
Vehicle_Age             False
Vehicle_Damage          False
Annual_Premium          False
Policy_Sales_Channel    False
Vintage                 False
Response                False
dtype: bool

## Feature engineering

In [6]:
df['Gender'] = df['Gender'].apply(lambda x: 1 if x == 'Male' else 0)
df['Gender'].value_counts()

1    206089
0    175020
Name: Gender, dtype: int64

In [7]:
df['Vehicle_Damage'] = df['Vehicle_Damage'].apply(lambda x: 1 if x == 'Yes' else 0)
df['Vehicle_Damage'].value_counts()

1    192413
0    188696
Name: Vehicle_Damage, dtype: int64

In [8]:
df['Policy_Sales_Channel'].nunique()

155

In [9]:
#One hot encoding categorical feature 'Region_Code', 'Policy_Sales_Channel', 'Vehicle_Age'
df['Policy_Sales_Channel'] = df['Policy_Sales_Channel'].astype('int')
df['Region_Code'] = df['Region_Code'].astype('int')
df = pd.get_dummies(df, columns=['Region_Code', 'Policy_Sales_Channel', 'Vehicle_Age'])
#Note that we have all the way up tp Policy_Sales_Channel_163.0 while there are only 155 Policy_Sales_Channel before one hot encoding.
#This is because some Policy_Sales_Channel_163.0 are not represented in the data. 
df

,id,Gender,Age,Driving_License,Previously_Insured,Vehicle_Damage,Annual_Premium,Vintage,Response,Region_Code_0,...,Policy_Sales_Channel_155,Policy_Sales_Channel_156,Policy_Sales_Channel_157,Policy_Sales_Channel_158,Policy_Sales_Channel_159,Policy_Sales_Channel_160,Policy_Sales_Channel_163,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years
0,1,1,44,1,0,1,40454.0,217,1,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,76,1,0,0,33536.0,183,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,1,47,1,0,1,38294.0,27,1,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,21,1,1,0,28619.0,203,0,0,...,0,0,0,0,0,0,0,0,1,0
4,5,0,29,1,1,0,27496.0,39,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,1,74,1,1,0,30170.0,88,0,0,...,0,0,0,0,0,0,0,1,0,0
381105,381106,1,30,1,1,0,40016.0,131,0,0,...,0,0,0,0,0,0,0,0,1,0
381106,381107,1,21,1,1,0,35118.0,161,0,0,...,0,0,0,0,0,1,0,0,1,0
381107,381108,0,68,1,0,1,44617.0,74,0,0,...,0,0,0,0,0,0,0,0,0,1
381108,381109,1,46,1,0,0,41777.0,237,0,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
df.head()

,id,Gender,Age,Driving_License,Previously_Insured,Vehicle_Damage,Annual_Premium,Vintage,Response,Region_Code_0,...,Policy_Sales_Channel_155,Policy_Sales_Channel_156,Policy_Sales_Channel_157,Policy_Sales_Channel_158,Policy_Sales_Channel_159,Policy_Sales_Channel_160,Policy_Sales_Channel_163,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years
0,1,1,44,1,0,1,40454.0,217,1,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,76,1,0,0,33536.0,183,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,1,47,1,0,1,38294.0,27,1,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,21,1,1,0,28619.0,203,0,0,...,0,0,0,0,0,0,0,0,1,0
4,5,0,29,1,1,0,27496.0,39,0,0,...,0,0,0,0,0,0,0,0,1,0

In [11]:
list(df.columns)

['id',
 'Gender',
 'Age',
 'Driving_License',
 'Previously_Insured',
 'Vehicle_Damage',
 'Annual_Premium',
 'Vintage',
 'Response',
 'Region_Code_0',
 'Region_Code_1',
 'Region_Code_2',
 'Region_Code_3',
 'Region_Code_4',
 'Region_Code_5',
 'Region_Code_6',
 'Region_Code_7',
 'Region_Code_8',
 'Region_Code_9',
 'Region_Code_10',
 'Region_Code_11',
 'Region_Code_12',
 'Region_Code_13',
 'Region_Code_14',
 'Region_Code_15',
 'Region_Code_16',
 'Region_Code_17',
 'Region_Code_18',
 'Region_Code_19',
 'Region_Code_20',
 'Region_Code_21',
 'Region_Code_22',
 'Region_Code_23',
 'Region_Code_24',
 'Region_Code_25',
 'Region_Code_26',
 'Region_Code_27',
 'Region_Code_28',
 'Region_Code_29',
 'Region_Code_30',
 'Region_Code_31',
 'Region_Code_32',
 'Region_Code_33',
 'Region_Code_34',
 'Region_Code_35',
 'Region_Code_36',
 'Region_Code_37',
 'Region_Code_38',
 'Region_Code_39',
 'Region_Code_40',
 'Region_Code_41',
 'Region_Code_42',
 'Region_Code_43',
 'Region_Code_44',
 'Region_Code_45',
 'Region_Code_46',
 'Region_Code_47',
 'Region_Code_48',
 'Region_Code_49',
 'Region_Code_50',
 'Region_Code_51',
 'Region_Code_52',
 'Policy_Sales_Channel_1',
 'Policy_Sales_Channel_2',
 'Policy_Sales_Channel_3',
 'Policy_Sales_Channel_4',
 'Policy_Sales_Channel_6',
 'Policy_Sales_Channel_7',
 'Policy_Sales_Channel_8',
 'Policy_Sales_Channel_9',
 'Policy_Sales_Channel_10',
 'Policy_Sales_Channel_11',
 'Policy_Sales_Channel_12',
 'Policy_Sales_Channel_13',
 'Policy_Sales_Channel_14',
 'Policy_Sales_Channel_15',
 'Policy_Sales_Channel_16',
 'Policy_Sales_Channel_17',
 'Policy_Sales_Channel_18',
 'Policy_Sales_Channel_19',
 'Policy_Sales_Channel_20',
 'Policy_Sales_Channel_21',
 'Policy_Sales_Channel_22',
 'Policy_Sales_Channel_23',
 'Policy_Sales_Channel_24',
 'Policy_Sales_Channel_25',
 'Policy_Sales_Channel_26',
 'Policy_Sales_Channel_27',
 'Policy_Sales_Channel_28',
 'Policy_Sales_Channel_29',
 'Policy_Sales_Channel_30',
 'Policy_Sales_Channel_31',
 'Policy_Sales_Channel_32',
 'Policy_Sales_Channel_33',
 'Policy_Sales_Channel_34',
 'Policy_Sales_Channel_35',
 'Policy_Sales_Channel_36',
 'Policy_Sales_Channel_37',
 'Policy_Sales_Channel_38',
 'Policy_Sales_Channel_39',
 'Policy_Sales_Channel_40',
 'Policy_Sales_Channel_41',
 'Policy_Sales_Channel_42',
 'Policy_Sales_Channel_43',
 'Policy_Sales_Channel_44',
 'Policy_Sales_Channel_45',
 'Policy_Sales_Channel_46',
 'Policy_Sales_Channel_47',
 'Policy_Sales_Channel_48',
 'Policy_Sales_Channel_49',
 'Policy_Sales_Channel_50',
 'Policy_Sales_Channel_51',
 'Policy_Sales_Channel_52',
 'Policy_Sales_Channel_53',
 'Policy_Sales_Channel_54',
 'Policy_Sales_Channel_55',
 'Policy_Sales_Channel_56',
 'Policy_Sales_Channel_57',
 'Policy_Sales_Channel_58',
 'Policy_Sales_Channel_59',
 'Policy_Sales_Channel_60',
 'Policy_Sales_Channel_61',
 'Policy_Sales_Channel_62',
 'Policy_Sales_Channel_63',
 'Policy_Sales_Channel_64',
 'Policy_Sales_Channel_65',
 'Policy_Sales_Channel_66',
 'Policy_Sales_Channel_67',
 'Policy_Sales_Channel_68',
 'Policy_Sales_Channel_69',
 'Policy_Sales_Channel_70',
 'Policy_Sales_Channel_71',
 'Policy_Sales_Channel_73',
 'Policy_Sales_Channel_74',
 'Policy_Sales_Channel_75',
 'Policy_Sales_Channel_76',
 'Policy_Sales_Channel_78',
 'Policy_Sales_Channel_79',
 'Policy_Sales_Channel_80',
 'Policy_Sales_Channel_81',
 'Policy_Sales_Channel_82',
 'Policy_Sales_Channel_83',
 'Policy_Sales_Channel_84',
 'Policy_Sales_Channel_86',
 'Policy_Sales_Channel_87',
 'Policy_Sales_Channel_88',
 'Policy_Sales_Channel_89',
 'Policy_Sales_Channel_90',
 'Policy_Sales_Channel_91',
 'Policy_Sales_Channel_92',
 'Policy_Sales_Channel_93',
 'Policy_Sales_Channel_94',
 'Policy_Sales_Channel_95',
 'Policy_Sales_Channel_96',
 'Policy_Sales_Channel_97',
 'Policy_Sales_Channel_98',
 'Policy_Sales_Channel_99',
 'Policy_Sales_Channel_100',
 'Policy_Sales_Channel_101',
 'Policy_Sales_Channel_102',
 'Policy_Sales_Channel_103',
 'Policy_Sales_Channel_104',
 'Policy_Sales_Channel_105',
 'Policy_Sales_Channel_106',
 'Policy_Sales_Channel_107',
 'Policy_Sales_Channel_108',
 'Policy_Sales_Channel_109',
 'Policy_Sales_Channel_110',
 'Policy_Sales_Channel_111',
 'Policy_Sales_Channel_112',
 'Policy_Sales_Channel_113',
 'Policy_Sales_Channel_114',
 'Policy_Sales_Channel_115',
 'Policy_Sales_Channel_116',
 'Policy_Sales_Channel_117',
 'Policy_Sales_Channel_118',
 'Policy_Sales_Channel_119',
 'Policy_Sales_Channel_120',
 'Policy_Sales_Channel_121',
 'Policy_Sales_Channel_122',
 'Policy_Sales_Channel_123',
 'Policy_Sales_Channel_124',
 'Policy_Sales_Channel_125',
 'Policy_Sales_Channel_126',
 'Policy_Sales_Channel_127',
 'Policy_Sales_Channel_128',
 'Policy_Sales_Channel_129',
 'Policy_Sales_Channel_130',
 'Policy_Sales_Channel_131',
 'Policy_Sales_Channel_132',
 'Policy_Sales_Channel_133',
 'Policy_Sales_Channel_134',
 'Policy_Sales_Channel_135',
 'Policy_Sales_Channel_136',
 'Policy_Sales_Channel_137',
 'Policy_Sales_Channel_138',
 'Policy_Sales_Channel_139',
 'Policy_Sales_Channel_140',
 'Policy_Sales_Channel_143',
 'Policy_Sales_Channel_144',
 'Policy_Sales_Channel_145',
 'Policy_Sales_Channel_146',
 'Policy_Sales_Channel_147',
 'Policy_Sales_Channel_148',
 'Policy_Sales_Channel_149',
 'Policy_Sales_Channel_150',
 'Policy_Sales_Channel_151',
 'Policy_Sales_Channel_152',
 'Policy_Sales_Channel_153',
 'Policy_Sales_Channel_154',
 'Policy_Sales_Channel_155',
 'Policy_Sales_Channel_156',
 'Policy_Sales_Channel_157',
 'Policy_Sales_Channel_158',
 'Policy_Sales_Channel_159',
 'Policy_Sales_Channel_160',
 'Policy_Sales_Channel_163',
 'Vehicle_Age_1-2 Year',
 'Vehicle_Age_< 1 Year',
 'Vehicle_Age_> 2 Years']

## Splitting the dataset into different sizes
---

### Full size

In [ ]:
#Saving the full size dataset to a csv file. 
df.to_csv('data-full-size.csv')

### Medium Size

In [13]:
medium_size = df.sample(frac = 0.5)
#medium_size.to_csv('data-medium-size.csv')
medium_size

,id,Gender,Age,Driving_License,Previously_Insured,Vehicle_Damage,Annual_Premium,Vintage,Response,Region_Code_0,...,Policy_Sales_Channel_155,Policy_Sales_Channel_156,Policy_Sales_Channel_157,Policy_Sales_Channel_158,Policy_Sales_Channel_159,Policy_Sales_Channel_160,Policy_Sales_Channel_163,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years
261021,261022,1,41,1,0,1,56738.0,119,0,0,...,0,0,0,0,0,0,0,1,0,0
244884,244885,0,47,1,0,1,37420.0,22,0,0,...,0,0,0,0,0,0,0,1,0,0
72417,72418,0,44,1,0,1,41925.0,115,0,0,...,0,0,0,0,0,0,0,1,0,0
352160,352161,1,39,1,0,1,44481.0,150,0,0,...,0,0,0,0,0,0,0,1,0,0
236696,236697,0,43,1,0,1,24905.0,20,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113154,113155,1,43,1,1,0,25144.0,21,0,0,...,0,0,0,0,0,0,0,1,0,0
333349,333350,1,53,1,0,1,29459.0,49,1,0,...,0,0,0,0,0,0,0,0,0,1
305015,305016,1,36,1,1,1,38222.0,75,0,0,...,0,0,0,0,0,0,0,1,0,0
306984,306985,0,42,1,0,1,65395.0,107,0,0,...,0,0,0,0,0,0,0,1,0,0
278957,278958,0,49,1,1,0,42793.0,52,0,0,...,0,0,0,0,0,0,0,1,0,0

In [14]:
medium_size['Response'].value_counts()

0    167053
1     23501
Name: Response, dtype: int64

### Small size

In [15]:
small_size = df.sample(frac = 0.15)
#small_size.to_csv('data-small-size.csv')
small_size

,id,Gender,Age,Driving_License,Previously_Insured,Vehicle_Damage,Annual_Premium,Vintage,Response,Region_Code_0,...,Policy_Sales_Channel_155,Policy_Sales_Channel_156,Policy_Sales_Channel_157,Policy_Sales_Channel_158,Policy_Sales_Channel_159,Policy_Sales_Channel_160,Policy_Sales_Channel_163,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years
50839,50840,1,46,1,0,1,23800.0,254,1,0,...,0,0,0,0,0,0,0,1,0,0
26002,26003,0,25,1,1,0,44724.0,29,0,0,...,0,0,0,0,0,0,0,0,1,0
255988,255989,1,60,1,0,1,35738.0,278,0,0,...,0,0,0,0,0,0,0,1,0,0
307505,307506,1,38,1,1,0,32090.0,228,0,0,...,0,0,0,0,0,0,0,1,0,0
276976,276977,1,46,1,0,1,2630.0,24,0,0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194954,194955,1,31,1,1,0,26246.0,220,0,0,...,0,0,0,0,0,0,0,0,1,0
370978,370979,1,42,1,0,1,28418.0,131,0,0,...,0,0,0,0,0,0,0,1,0,0
182334,182335,0,57,1,0,1,2630.0,126,0,0,...,0,1,0,0,0,0,0,1,0,0
96774,96775,1,73,1,0,0,56736.0,62,0,0,...,0,0,0,0,0,0,0,1,0,0
6386,6387,0,55,1,0,1,29232.0,287,0,0,...,0,0,0,0,0,0,0,1,0,0

In [16]:
small_size['Response'].value_counts()

0    50119
1     7047
Name: Response, dtype: int64

### Small size balanced

In [17]:
n_15 = len(df.sample(frac=0.15))
response_1 = df[df['Response'] == 1].sample(n = int(n_15/2))
response_0 = df[df['Response'] == 0].sample(n = int(n_15/2))

In [18]:
small_balanced = pd.concat([response_1, response_0])
small_balanced

,id,Gender,Age,Driving_License,Previously_Insured,Vehicle_Damage,Annual_Premium,Vintage,Response,Region_Code_0,...,Policy_Sales_Channel_155,Policy_Sales_Channel_156,Policy_Sales_Channel_157,Policy_Sales_Channel_158,Policy_Sales_Channel_159,Policy_Sales_Channel_160,Policy_Sales_Channel_163,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years
104176,104177,0,39,1,0,1,42255.0,44,1,0,...,0,0,0,0,0,0,0,1,0,0
68937,68938,1,46,1,0,1,2630.0,45,1,0,...,0,0,0,0,0,0,0,1,0,0
337645,337646,0,29,1,0,1,32006.0,110,1,0,...,0,0,0,0,0,0,0,0,1,0
260153,260154,0,31,1,0,1,41663.0,32,1,0,...,0,0,0,0,0,0,0,0,1,0
81292,81293,0,24,1,0,1,28427.0,110,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78973,78974,0,43,1,1,0,88533.0,16,0,0,...,0,0,0,0,0,0,0,1,0,0
233825,233826,1,24,1,1,0,44733.0,193,0,0,...,0,0,0,0,0,0,0,0,1,0
179739,179740,1,22,1,1,0,55404.0,161,0,0,...,0,0,0,0,0,0,0,0,1,0
245856,245857,0,39,1,1,0,43803.0,20,0,0,...,0,0,0,0,0,0,0,1,0,0
63358,63359,1,21,1,0,1,36180.0,239,0,0,...,0,0,0,0,0,0,0,0,1,0

In [19]:
small_balanced['Response'].value_counts()

1    28583
0    28583
Name: Response, dtype: int64

In [ ]:
#small_balanced.to_csv('data-small-size-balanced.csv')